.smallCard{
    .img{
        width: 280px;
        height: 174px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        &:hover{
            background-color: #6e69691c;
            .play{
                display: flex;
            }
        }
        .play{
            width: 117px;
            height: 48px;
            border-radius: 28.5px;
            background: #ffffff39;
            position: absolute;
            display: none;
            align-items: center;
            padding-left: 9px;
            padding-right: 24px;
            justify-content: space-between;
            top: calc(50% - 24px);
            left: calc(50% - 58.5px);
            .playText{
                font-size: 18px;
                font-weight: 500;
                color: #FFFFFF;
            }
        }
        .smallCardTop{
            align-self: flex-end;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: #10141e79;
            &:hover{
                background: #FFFFFF;
                svg{
                    path{
                        stroke: black;
                    }
                }
            }
        }
    }
    .smallCardBottom{
        margin-top: 8px;
        .smallCardMovieInfo{
            display: flex;
            gap: 8px;
            align-items: center;
            .year{
                font-weight: 300;
                color: #ffffff9a;
                font-size: 13px;
            }
            .circle{
                width: 3px;
                height: 3px;
                background: #ffffff9a;
                border-radius: 50%;
            }
            .movieOrSerie{
                font-weight: 300;
                color: #ffffff9a;
                font-size: 13px;
            }
            .rating{
                font-weight: 300;
                color: #ffffff9a;
                font-size: 13px;
            }
        }
        .smallCardMovieName{
            font-size: 18px;
            font-weight: 500;
            color: #FFFFFF;
        }
    }
}