main{
    h2{
        font-size: 32px;
        font-weight: 300;
        color: #FFFFFF;
        margin-top: 35px;
        margin-bottom: 38px;
    }
    .allTvSeries{
        display: flex;
        flex-wrap: wrap;
        column-gap: 40px;
        row-gap: 32px;
        overflow-y: scroll;
        height: 70vh;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}